@media screen and (min-width: 350px) {
  * {
    margin: 0;
    padding: 0;
  }
  .logo {
    border-radius: 30%;
    width: 60px;
    height: 60px;
  }
  .navbar-brand {
    border: none;
  }
  h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    font-size: 30px;
    color: rgb(253, 13, 13);
    text-shadow: 5px 3px 5px rgb(0, 2, 3);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    background-image: url("../imag/sag.jpeg");
    background-size: cover;
  }
  .serviciosGenerales {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
  }
  .serviciosGenerales p {
    margin: 5px 20% 5px 20%;
    padding: 15px;
    font-style: black, justify;
    text-align: justify;
    font-weight: bold;
    width: 70%;
    flex-wrap: wrap;
    border-radius: 10px;
    background-image: url(../imag/fondo-vertebral.jpg);
  }
  .serviciosGenerales h3 {
    margin: 10px 30% 15px 30%;
    width: auto;
    border-bottom: double;
    border-radius: 15px;
    border-color: rgb(232, 16, 240);
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    color: rgb(11, 243, 135);
  }
  .paraQuienes {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
  }
  .paraQuienes h3 {
    margin: 10px 30% 15px 30%;
    width: auto;
    border-bottom: double;
    border-radius: 15px;
    border-color: rgb(232, 16, 240);
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    color: rgb(11, 243, 135);
  }
  .paraQuienes p {
    margin: 5px 20% 5px 20%;
    padding: 15px;
    font-style: black, justify;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
    width: 70%;
    flex-wrap: wrap;
    border-radius: 15px;
    background: url("../imag/fondo-vertebral.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gridformContenedor {
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 15px;
    flex-wrap: wrap;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    font-size: 25px;
    font-variant: small-caps;
    width: 90%;
    height: 90%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .divFieldset {
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    font-size: 20px;
    font-variant: small-caps;
    text-align: center;
    width: 90%;
    height: 90%;
    color: white;
    justify-content: center;
    margin: 15px;
    background-image: url(../imag/brillante-fondo.jpg);
    border-radius: 25px;
  }
  .divPresentacion {
    display: flex;
    text-align: justify;
    color: cyan;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
    font-size: 25px;
    background-image: url(../imag/brillante-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
  }
  .divPresentacion p {
    font-style: italic;
    font-variant: small-caps;
    padding: 20px 30px 20px 30px;
    background-image: url(../imag/brillante-fondo.jpg);
  }
  .botonInput {
    margin-bottom: 15px;
  }
  .datosUbicacion {
    display: flex;
    text-align: center;
    color: white;
    align-items: center;
    margin: 10px;
    margin-left: 15px;
    font-size: 15px;
    padding: 10px;
    width: 80%;
    flex-direction: column;
    background-image: url(../imag/brillante-fondo.jpg);
    border-radius: 20px;
  }
  .iframeMapa {
    display: flex;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 90%;
    height: 350px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
  }
  .map {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    flex-direction: column;
  }
  form {
    background-color: transparent;
    width: 90%;
  }
  .gridContenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    margin: 10px;
    justify-items: center;
    align-items: center;
  }
  body {
    background-image: url(../imag/column.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  nav {
    margin-bottom: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    font-size: 20px;
  }
  header a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: cyan;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-top: double;
    border-left: double;
    border-color: cyan;
  }
  header a:link {
    text-decoration: none;
  }
  ul ul {
    position: absolute;
    display: none;
  }
  .gridFooter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    flex-wrap: wrap;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    border-bottom: double;
    border-color: cyan;
    grid-row-gap: 15px;
    margin: 10px;
    width: auto;
    color: rgb(239, 239, 243);
    text-align: center;
  }
  footer {
    color: rgb(239, 239, 243);
    text-align: center;
    padding: 25px;
  }
  .audio {
    width: 100px;
    height: 55px;
    position: fixed;
    display: flex;
    right: 10px;
    top: 560px;
    margin-bottom: 30px;
    margin-right: 10px;
    z-index: 999;
    transition: 1s;
  }
  .audio:hover {
    transform: scale(1.4);
  }
  .wspIcon {
    width: 55px;
    height: 55px;
    position: fixed;
    display: flex;
    left: 10px;
    top: 440px;
    margin-bottom: 30px;
    margin-right: 10px;
    z-index: 999;
    transition: all 1s;
  }
  .wspIcon:hover {
    transform: scale(1.4);
  }
  .iconSugerencia {
    width: 55px;
    height: 55px;
    position: fixed;
    display: flex;
    right: 10px;
    top: 440px;
    margin-bottom: 30px;
    margin-right: 10px;
    z-index: 999;
    transition: all 1s;
  }
  .iconSugerencia:hover {
    transform: scale(1.4);
  }
  .iconHome {
    width: 55px;
    height: 55px;
    position: fixed;
    display: flex;
    right: 10px;
    top: 500px;
    margin-bottom: 30px;
    margin-right: 10px;
    z-index: 999;
    transition: all 1s;
  }
  .iconHome:hover {
    transform: scale(1.4);
  }
  .faceIcon {
    width: 55px;
    height: 55px;
    position: fixed;
    display: flex;
    top: 500px;
    left: 10px;
    z-index: 999;
    margin-bottom: 30px;
    margin-right: 10px;
    transition: all 1s;
  }
  .faceIcon:hover {
    transform: scale(1.4);
  }
  .instaIcon {
    width: 55px;
    height: 55px;
    position: fixed;
    display: flex;
    top: 560px;
    left: 10px;
    z-index: 999;
    margin-bottom: 30px;
    margin-right: 10px;
    transition: all 1s;
  }
  .instaIcon:hover {
    transform: scale(1.4);
  }
}
@media screen and (min-width: 750px) {
  * {
    margin: 0;
    padding: 0;
  }
  .logo {
    border-radius: 30%;
    width: 70px;
    height: 70px;
  }
  h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    font-size: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    color: rgb(253, 13, 13);
    text-shadow: 5px 3px 5px rgb(0, 2, 3);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    background-image: url("../imag/sag.jpeg");
    background-size: cover;
  }
  .navbar-brand {
    border: none;
  }
  .serviciosGenerales {
    width: 0%, 9;
    display: flex;
    flex-direction: column;
  }
  .serviciosGenerales p {
    margin: 5px 20% 5px 20%;
    padding: 15px;
    font-style: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    font-size: black, justify;
    width: 0%, 7;
    flex-wrap: wrap;
    border-radius: 10px, 5;
    background: url("../imag/fondo-vertebral.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .serviciosGenerales h3 {
    margin: 10px 30% 15px 30%;
    width: 25%;
    border-bottom: double;
    border-radius: 10px, 5;
    border-color: rgb(232, 16, 240);
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    color: rgb(11, 243, 135);
  }
  .paraQuienes {
    width: 0%, 9;
    display: flex;
    flex-direction: column;
  }
  .paraQuienes h3 {
    margin: 10px 30% 15px 30%;
    width: 25%;
    border-bottom: double;
    border-radius: 10px, 5;
    border-color: rgb(232, 16, 240);
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    color: rgb(11, 243, 135);
  }
  .paraQuienes p {
    margin: 5px 20% 5px 20%;
    padding: 15px;
    font-style: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    font-size: 15px;
    text-align: black, justify;
    width: 0%, 7;
    flex-wrap: wrap;
    border-radius: 10px, 5;
    background: url("../imag/fondo-vertebral.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gridformContenedor {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 25px;
    flex-wrap: wrap;
    font-variant: small-caps;
    width: 0%, 9;
    height: 0%, 9;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .gridformContenedor .divFieldset {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    font-size: 15px;
    font-variant: small-caps;
    text-align: center;
    margin: 15px;
    width: 50%;
    height: 0%, 45;
    color: white;
    background-image: url("../imag/brillante-fondo.jpg");
    border-radius: 400px;
  }
  .gridformContenedor .divFieldset .botonInput {
    margin-bottom: 15px;
  }
  .gridformContenedor .divPresentacion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 33.3333333333%;
    margin: 15px;
  }
  .gridformContenedor .divPresentacion p {
    padding: 30px;
    font-style: black, justify;
    font-variant: small-caps;
    background-image: url("../imag/brillante-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: justify;
    color: cyan;
    border-radius: 20px;
  }
  .gridformContenedor .datosUbicacion {
    display: flex;
    text-align: justify;
    color: white;
    align-items: center;
    margin: 20px;
    padding: 10px;
    width: 40%;
    flex-direction: column;
  }
  .gridformContenedor .iframeMapa {
    display: flex;
    width: 45%;
    margin: 25px;
    align-items: center;
    text-align: center;
  }
  .gridformContenedor .iframeMapa .map {
    width: 100%;
    height: 0%, 45;
    border-radius: 20px;
  }
  body {
    background-image: url("../imag/column.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  ul li {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    font-variant: small-caps;
    padding: 10px;
    margin: 10px;
    display: flex;
    display: inline-block;
  }
  header a {
    border: double cyan top left;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    font-size: 30px;
  }
  header a:hover {
    background-color: greenyellow;
  }
  nav {
    margin-bottom: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif, bold;
    font-size: 20px;
  }
  a:link {
    text-decoration: none;
  }
  footer {
    color: rgb(255, 255, 255);
  }
  .audio {
    width: 100px;
    height: 55px;
    position: fixed;
    display: flex;
    right: 10px;
    top: 600px;
    margin-bottom: 30px;
    margin-right: 10px;
    z-index: 999;
    transition: all 1s;
  }
  .audio:hover {
    transform: scale(1.5);
  }
  .wspIcon {
    width: 55px;
    height: 55px;
    position: fixed;
    display: flex;
    right: 10px;
    top: 480px;
    margin-bottom: 30px;
    margin-right: 10px;
    z-index: 999;
    transition: all 1s;
  }
  .wspIcon:hover {
    transform: scale(1.5);
  }
  .faceIcon {
    width: 55px;
    height: 55px;
    position: fixed;
    display: flex;
    top: 540px;
    right: 10px;
    z-index: 999;
    margin-bottom: 30px;
    margin-right: 10px;
    transition: all 1s;
  }
  .faceIcon:hover {
    transform: scale(1.5);
  }
  .instaIcon {
    width: 55px;
    height: 55px;
    position: fixed;
    display: flex;
    top: 600px;
    right: 10px;
    z-index: 999;
    margin-bottom: 30px;
    margin-right: 10px;
    transition: all 1s;
  }
  .instaIcon:hover {
    transform: scale(1.5);
  }
  .iconHome {
    width: 55px;
    height: 55px;
    position: fixed;
    display: flex;
    top: 540px;
    right: 10px;
    z-index: 999;
    margin-bottom: 30px;
    margin-right: 10px;
    transition: all 1s;
  }
  .iconHome:hover {
    transform: scale(1.5);
  }
  .iconSugerencia {
    width: 55px;
    height: 55px;
    position: fixed;
    display: flex;
    top: 480px;
    right: 10px;
    z-index: 999;
    margin-bottom: 30px;
    margin-right: 10px;
    transition: all 1s;
  }
  .iconSugerencia:hover {
    transform: scale(1.5);
  }
}

/*# sourceMappingURL=style.css.map */
