$colorPrimario: rgb(32, 107, 101);

$color-h3: rgb(11, 243, 135);

$colorParrafo: black;

$colorFormulario: white;

$colorPresentacion: cyan;

$bordeColor-h3: rgb(232, 16, 240);

$color-footer: white;