$colorParrafo: rgb(199, 29, 29);    

$colorFormulario: white;

$colorPresentacion: cyan;

$bordeColor-h3: rgb(250, 7, 7);

$color-footer: white;

$colorTitulos:(
    parrafo: black,
    color-h3:rgb(16, 31, 240),
    h1: rgb(253, 28, 46),
)