$colorFormulario: white;

$colorPresentacion: cyan;

$bordeColor-h3: rgb(250, 7, 7);

$color-footer: white;

$colorTitulos:(
    h1: rgb(11, 26, 241),
    h3:rgb(255, 255, 255),
    parrafo: black,
    color-h3:rgb(16, 31, 240),
)