$fuentePrincipal:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, bold;

$margenParrafos: 5px 20% 5px 20%;

$margenFormulario: 15px;

$paddingParrafos: 30px;

$texto-sombra: 5px 3px 5px rgb(0, 2, 3);

$margen-h3: 10px 30% 15px 30%;

$p-font-style:rgb(247, 56, 56), justify,
    