$fuentePrincipal:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, bold;

$sizeFuente: 30px;

$margenParrafos: 5px 20% 5px 20%;

$margenFormulario: 5px 5px 5px 5px;

$paddingParrafos: 30px;

$margen-h3: 10px 30% 15px 30%;

$p-font-style: black, justify;