@mixin h3-movil {
    margin: $margen-h3;
    width: auto;
    border-bottom: double;
    border-radius: $bordesRadio*1.5;
    text-align: center;
    border-color: $bordeColor-h3;
    font-size: $sizeFuente;
    font-family:$fuentePrincipal;
}
//mixin
//map-get

h3{
    color:map-get($map: $colorTitulos, $key: color-h3);
}