@media screen and (min-width: 350px) {
    * {
        margin: 0;
        padding: 0;
    }

    .estilo {
        @include H1-Estilos;
        border-radius: 30px;
    }

    .logo {
        @include logo;
    }

    .navbar-brand {
        border: none;
    }

    .serviciosGenerales {
        @include servicios-generales;

        p {
            @include parrafo;
        }

        h3 {
            @include h3-movil;
        }
    }

    .paraQuienes {
        @include servicios-generales;

        h3 {
            @include h3-movil;
        }

        p {
            @include parrafo;
        }
    }

    .gridformContenedor {
        @include formulario-contacto;

        .divFieldset {
            @include formulario;

            .botonInput {
                margin-bottom: 15px;
            }
        }

        .divPresentacion {
            @include contenedor-presentacion;

            p {
                @include parrafo-presentacion;
            }
        }
    }

    .datosUbicacion {
        @include contenedor-ubicacion;
    }

    .iframeMapa {
        @include iframe;

        .map {
            width: $ancho;
            height: $alto;
            border-radius: $bordesRadio*2;
        }
    }



    header {
        a {
            @include header-a;

            &:hover {
                background-color: greenyellow;
            }
        }
    }

    nav {
        margin-bottom: 15px;
        font-family: $fuentePrincipal;
        font-size: $sizeFuente - 10px;
    }

    footer {
        color: $color-footer;
    }

    .audio {
        @include redes;
        right: 10px;
        top: 560px;

        &:hover {
            transform: scale(1.4);
        }
    }

    .wspIcon {
        @include redes;
        left: 10px;
        top: 440px;

        &:hover {
            transform: scale(1.4);
        }
    }

    .iconSugerencia {
        @include redes;
        right: 10px;
        top: 440px;

        &:hover {
            transform: scale(1.4);
        }
    }

    .iconHome {
        @include redes;
        right: 10px;
        top: 500px;

        &:hover {
            transform: scale(1.4);
        }
    }

    .faceIcon {
        @include redes;
        top: 500px;
        left: 10px;

        &:hover {
            transform: scale(1.4);
        }
    }

    .instaIcon {
        @include redes;
        top: 560px;
        left: 10px;

        &:hover {
            transform: scale(1.4);
        }
    }

}