@media screen and (min-width: 750px) {
    * {
        margin: 0;
        padding: 0;
    }

    .estilo {
        @include H1-Estilos;
        border-radius: 30px;
    }

    .logo {
        @include logo;
    }

    h1 {
        @include H1-Estilos;
    }

    .navbar-brand {
        border: none;
    }

    .serviciosGenerales {
        @include servicios-generales;

        p {
            @include parrafo;
        }

        h3 {
            @include h3-movil;
        }
    }

    .paraQuienes {
        @include servicios-generales;

        h3 {
            @include h3-movil;
        }

        p {
            @include parrafo;
        }
    }

    .gridformContenedor {
        @include formulario-contacto;
        grid-template-columns: 1fr 1fr;


        .divFieldset {
            @include formulario (50%);

            .botonInput {
                margin-bottom: 15px;
            }
        }

        .divPresentacion {
            @include contenedor-presentacion (40%);

            p {
                @include parrafo-presentacion;
            }
        }

        .datosUbicacion {
            @include contenedor-ubicacion (40%);
        }

        .iframeMapa {
            @include iframe (40%);

            .map {
                width: $ancho;
                align-items: center;
                border-radius: $bordesRadio*2;
            }
        }

    }

    header {
        a {
            @include header-a;

            &:hover {
                background-color: greenyellow;
            }
        }
    }

    nav {
        margin-bottom: 15px;
        font-family: $fuentePrincipal;
        font-size: $sizeFuente - 10px;
    }

    a:link {
        text-decoration: none
    }

    .audio {
        @include redes;
        right: 10px;
        top: 600px;
        margin-bottom: 30px;
        margin-right: 10px;

        &:hover {
            transform: scale(1.5);
        }
    }

    .wspIcon {
        @include redes;
        right: 10px;
        top: 480px;
        margin-bottom: 30px;
        margin-right: 10px;


        &:hover {
            transform: scale(1.5);
        }
    }

    .faceIcon {
        @include redes;
        top: 540px;
        right: 10px;
        margin-bottom: 30px;
        margin-right: 10px;

        &:hover {
            transform: scale(1.5);
        }
    }

    .instaIcon {
        @include redes;
        top: 600px;
        right: 10px;
        margin-bottom: 30px;
        margin-right: 10px;


        &:hover {
            transform: scale(1.5);
        }
    }

    .iconHome {
        @include redes;
        top: 540px;
        right: 10px;
        margin-bottom: 30px;
        margin-right: 10px;


        &:hover {
            transform: scale(1.5);
        }
    }

    .iconSugerencia {
        @include redes;
        top: 480px;
        right: 10px;
        margin-bottom: 30px;
        margin-right: 10px;


        &:hover {
            transform: scale(1.5);
        }
    }
}