@import "colores";
@import "fuentes";
@import "backgrounds";
@import "tamaño";
@import "alineacion";

// map-get

h1{
    color:map-get($map: $colorTitulos, $key: h1);
}
h3{
    color:map-get($map: $colorTitulos, $key: h3);
}

// mixin

@mixin H1-Estilos {
    font-family: $fuentePrincipal;
    font-size: $fuentePrincipal;
    text-shadow: $texto-sombra;
    text-align: $alineacion-titulos;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    background-image: $fondo-h1;
    background-size: $coberturaImagen;
}

// include
.estilo {
    @include H1-Estilos;
    border-radius: 30px;
}

@mixin parrafo ($radius:10px) {
            margin: $margenParrafos;
            padding: $paddingParrafos/2;
            font-style: $fuentePrincipal;
            font-size: $p-font-style;
            font-weight: bold;
            width: ($ancho)*0.7;
            flex-wrap: wrap;
            border-radius: $radius;
            color: $colorParrafo;         
            background: $parrafosFondo;
            background-repeat: $imagenRepetida;
            background-size: $coberturaImagen;       
}

@media screen and (min-width: 350px) {
    * {
        margin: 0;
        padding: 0;
    }
    .logo{
        border-radius: 30%;
        width: 60px;
        height: 60px;
    }
    .navbar-brand{
        border: none;
    }

    .serviciosGenerales {
        width: $ancho*0.9;
        display: flex;
        flex-direction: column;
        border-radius: $bordesRadio;
        justify-content: center;

        p {
            @include parrafo(30px);  
        }

        h3 {
            margin: $margen-h3;
            width: auto;
            border-bottom: double;
            border-radius: $bordesRadio*1.5;
            border-color: $bordeColor-h3;
            font-size: $sizeFuente;
            font-family:$fuentePrincipal;
        }
    }

    .paraQuienes {
        width: $ancho*0.9;
        display: flex;
        flex-direction: column;
        border-radius: $bordesRadio;
        justify-content: center;
        h3 {
            margin: $margen-h3;
            width: auto;
            border-bottom: double;
            border-radius: $bordesRadio*1.5;
            border-color: $bordeColor-h3;
            font-size: $sizeFuente;
            font-family:$fuentePrincipal;
        }

        p {
            @include parrafo;            
        }

    }
    .gridformContenedor {
        display: flex;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 25px;
        flex-wrap: wrap;
        font-variant: small-caps;
        width: $ancho*0,9;
        height: $alto*0,9;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        .divFieldset {
            font-family:$fuentePrincipal;
            font-size: $sizeFuente/2;
            font-variant: small-caps;
            text-align: $alineacion-titulos;
            margin: $margenFormulario;
            width: $ancho / 2;
            height: $alto * 0,45;
            color: $colorFormulario;
            background-image: $formularioFondo;
            border-radius: $bordesRadio*40;
            .botonInput {
                margin-bottom: 15px;
            }
        }
        .divPresentacion {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            width: $ancho/3;
            margin: $margenFormulario;
            p {
                padding: $paddingParrafos;
                font-style: $p-font-style;
                font-variant: small-caps;
                background-image: $formularioFondo;
                background-size: $coberturaImagen;
                background-repeat: $imagenRepetida;
                text-align: $alineacion-parrafos;
                color:$colorPresentacion;
                border-radius: $bordesRadio*2;
            }
        }
        .datosUbicacion {
            display: flex;
            text-align: $alineacion-parrafos;
            color: $colorFormulario;
            align-items: center;
            margin: 20px;
            padding: 10px;
            width: $ancho*0.40;
            flex-direction: column;
        }
        .iframeMapa {
            display: flex;
            width: 45%;
            margin: 25px;
            align-items: center;
            text-align: center;
            .map {
                width: $ancho;
                height: $alto*0,45;
                border-radius: $bordesRadio*2;
            }
        }
    }
    .gridContenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 15px;
        margin: 10px;
        justify-items: center;
        align-items: center;
    }
    
    body {
        background-image: $fondo-body;
        background-size: $coberturaImagen;
        background-attachment: fixed;
    }

    header {
        a {
            border:$border-link;
            padding: 10px;
            margin: 10px;
            border-radius: $bordesRadio*2;
            font-size: $sizeFuente;
            transition: all 1s;
            &:hover{
                background-color: greenyellow;
            }
        }
    }

    nav {
        margin-bottom: 15px;
        font-family:$fuentePrincipal;
        font-size: $sizeFuente - 10px;
    }

    footer {
        color: $color-footer;
    }

    .audio {
        width: 100px;
        height: 55px;
        position: fixed;
        display: flex;
        right: 10px;
        top: 560px;
        margin-bottom: 30px;
        margin-right: 10px;
        z-index: 999;
        transition: 1s;
         &:hover {
            transform: scale(1.4);
        }
    }

    .wspIcon {
        width: 55px;
        height: 55px;
        position: fixed;
        display: flex;
        left: 10px;
        top: 440px;
        margin-bottom: 30px;
        margin-right: 10px;
        z-index: 999;
        transition: all 1s;
        &:hover {
            transform: scale(1.4);
        }
    }

    .iconSugerencia {
        width: 55px;
        height: 55px;
        position: fixed;
        display: flex;
        right: 10px;
        top: 440px;
        margin-bottom: 30px;
        margin-right: 10px;
        z-index: 999;
        transition: all 1s;
        &:hover {
            transform: scale(1.4);
        }
    }

    .iconHome {
        width: 55px;
        height: 55px;
        position: fixed;
        display: flex;
        right: 10px;
        top: 500px;
        margin-bottom: 30px;
        margin-right: 10px;
        z-index: 999;
        transition: all 1s;
        &:hover {
            transform: scale(1.4);
        }
    }

    .faceIcon {
        width: 55px;
        height: 55px;
        position: fixed;
        display: flex;
        top: 500px;
        left: 10px;
        z-index: 999;
        margin-bottom: 30px;
        margin-right: 10px;
        transition: all 1s;
        &:hover {
            transform: scale(1.4);
        }
    }

    .instaIcon {
        width: 55px;
        height: 55px;
        position: fixed;
        display: flex;
        top: 560px;
        left: 10px;
        z-index: 999;
        margin-bottom: 30px;
        margin-right: 10px;
        transition: all 1s;
        &:hover {
            transform: scale(1.4);
        }
    }

}

@media screen and (min-width: 750px) {
    * {
        margin: 0;
        padding: 0;
    }

    .logo{
        border-radius: 30%;
        width: 70px;
        height: 70px;
    }

    h1 {
        @include H1-Estilos;
    }

    .navbar-brand{
        border: none;
    }

    .serviciosGenerales {
        width: ($ancho)*0,9;
        display: flex;
        flex-direction: column;
       p {
            @include parrafo(30px);           
        }
        h3 {
            margin: $margen-h3;
            width: ($ancho)/4;
            border-bottom: double;
            border-radius: $bordesRadio*1,5;
            border-color: $bordeColor-h3;
            font-size: $sizeFuente;
            font-family:$fuentePrincipal;
        }
    }

    .paraQuienes {
        width: ($ancho)*0,9;
        display: flex;
        flex-direction: column;
        h3 {
            margin: $margen-h3;
            width: ($ancho)/4;
            border-bottom: double;
            border-radius: $bordesRadio*1,5;
            border-color: $bordeColor-h3;
            font-size: $sizeFuente;
            font-family:$fuentePrincipal;
        }
        p {
            @include parrafo;            
        }
    }

    .gridformContenedor {
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 25px;
        flex-wrap: wrap;
        font-variant: small-caps;
        width: $ancho*0,9;
        height: $alto*0,9;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        .divFieldset {
            font-family:$fuentePrincipal;
            font-size: $sizeFuente/2;
            font-variant: small-caps;
            text-align: $alineacion-titulos;
            margin: $margenFormulario;
            width: $ancho / 2;
            height: $alto * 0,45;
            color: $colorFormulario;
            background-image: $formularioFondo;
            border-radius: $bordesRadio*40;
            .botonInput {
                margin-bottom: 15px;
            }
        }
        .divPresentacion {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            width: $ancho/3;
            margin: $margenFormulario;
            p {
                padding: $paddingParrafos;
                font-style: $p-font-style;
                font-variant: small-caps;
                background-image: $formularioFondo;
                background-size: $coberturaImagen;
                background-repeat: $imagenRepetida;
                text-align: $alineacion-parrafos;
                color:$colorPresentacion;
                border-radius: $bordesRadio*2;
            }
        }
        .datosUbicacion {
            display: flex;
            text-align: $alineacion-parrafos;
            color: $colorFormulario;
            align-items: center;
            margin: 20px;
            padding: 10px;
            width: $ancho*0.40;
            flex-direction: column;
        }
        .iframeMapa {
            display: flex;
            width: 45%;
            margin: 25px;
            align-items: center;
            text-align: center;
            .map {
                width: $ancho;
                height: $alto*0,45;
                border-radius: $bordesRadio*2;
            }
        }
    
    }

    body {
        background-image: $fondo-body;
        background-size: $coberturaImagen;
        background-attachment: fixed;
    }

    ul {
        li {
            font-family:$fuentePrincipal;
            font-variant: small-caps;
            padding: 10px;
            margin: 10px;
            display: flex;
            display: inline-block;
        }
    }

    header {
        a {
            border:$border-link;
            padding: 10px;
            margin: 10px;
            border-radius: $bordesRadio*2;
            font-size: $sizeFuente;
            &:hover{
                background-color: greenyellow;
            }
        }
    }

    nav {
        margin-bottom: 15px;
        font-family:$fuentePrincipal;
        font-size: $sizeFuente - 10px;
    }

    a:link {
        text-decoration: none
    }

    footer {
        color: rgb(255, 255, 255);
    }

    .audio {
        width: 100px;
        height: 55px;
        position: fixed;
        display: flex;
        right: 10px;
        top: 600px;
        margin-bottom: 30px;
        margin-right: 10px;
        z-index: 999;
        transition: all 1s;
        &:hover {
            transform: scale(1.5);
        }
    }

    .wspIcon {
        width: 55px;
        height: 55px;
        position: fixed;
        display: flex;
        right: 10px;
        top: 480px;
        margin-bottom: 30px;
        margin-right: 10px;
        z-index: 999;
        transition: all 1s;
        &:hover {
            transform: scale(1.5);
        }
    }

    .faceIcon {
        width: 55px;
        height: 55px;
        position: fixed;
        display: flex;
        top: 540px;
        right: 10px;
        z-index: 999;
        margin-bottom: 30px;
        margin-right: 10px;
        transition: all 1s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .instaIcon {
        width: 55px;
        height: 55px;
        position: fixed;
        display: flex;
        top: 600px;
        right: 10px;
        z-index: 999;
        margin-bottom: 30px;
        margin-right: 10px;
        transition: all 1s;
        &:hover {
            transform: scale(1.5);
        }
    }

    .iconHome {
        width: 55px;
        height: 55px;
        position: fixed;
        display: flex;
        top: 540px;
        right: 10px;
        z-index: 999;
        margin-bottom: 30px;
        margin-right: 10px;
        transition: all 1s;

        &:hover {
            transform: scale(1.5);
        }
    }

    .iconSugerencia {
        width: 55px;
        height: 55px;
        position: fixed;
        display: flex;
        top: 480px;
        right: 10px;
        z-index: 999;
        margin-bottom: 30px;
        margin-right: 10px;
        transition: all 1s;

        &:hover {
            transform: scale(1.5);
        }
    }
}